<%- include('../includes/header_admin') %>

    <div class="container-fluid ">
        <div class="row d-flex pt-5 justify-content-center bg-gradient-primary">
            <div class="col-md-5">
                <div class="p-3 mb-5 bg-body rounded">
                    <h3 class="text-center">Nouveau Responsable</h3>

                    <id="form-new-resp">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Choisir...<span
                                    class="text-danger">*</span></label>
                            <select class="form-select" id="role" name="role" aria-label="Default select example">
                                <% for(var id=0;id<roles.length;id++){%>
                                    <option value="<%=roles[id]._id%>">
                                        <%=roles[id].description%>
                                    </option>
                                    <%}%>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Nom Complet<span
                                    class="text-danger">*</span></label>
                            <input type="text" required class="form-control" id="name" name="name"
                                placeholder="Nom complet">
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Email <span
                                            class="text-danger">*</span></label>
                                    <input type="Email" class="form-control" id="email" required placeholder="Email">
                                    <span class="text-danger" id="email_error"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Contact <span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="contact" name="contact" required
                                        placeholder="Télephone">
                                    <span class="text-danger" id="contact_error"></span>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Adresse <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="adresse" name="adresse" required
                                placeholder="Adresse">
                            <span class="text-danger" id="adresse_error"></span>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Salaire Net (Ar) <span
                                            class="text-danger">*</span></label>
                                    <input type="number" class="form-control" id="salaire" value="0" min="0"
                                        name="salaire" required placeholder="Salaire Net">
                                    <span class="text-danger" id="salaire_error"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Mot de passe <span
                                            class="text-danger">*</span></label>
                                    <input type="password" class="form-control" id="password" name="password" required
                                        placeholder="Nouveau mot de passe">
                                    <span class="text-danger" id="password_error"></span>
                                </div>
                            </div>
                        </div>



                        <span class="text-danger" id="message_error"></span>
                        <span class="text-success" id="message_success"></span>
                        <div class="mb-3 d-flex justify-content-center">
                            <button type="button" class="btn btn-success " id="submit_new_resp">Enregistrer</button>
                        </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    <%- include('../includes/footer_admin') %>