<%- include('../includes/header_admin') %>

    <div class="container-fluid ">
        <div class="row d-flex h-full pt-5 justify-content-center bg-gradient-primary">
            
            <div class="col-md-5">

                <div class=" shadow p-3 mb-5 bg-body rounded" id="form-new-spa">
                    <h5>Changer mot de passe</h5>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1"
                            class="form-label">Ancient mot de passe<span
                                class="text-danger">*</span></label>
                        <input type="password" required class="form-control"
                            id="last_password"
                            placeholder="Ancient mot de passe">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1"
                            class="form-label">Nouveau mot de passe <span class="text-danger">*</span></label>
                        <input type="password" class="form-control"
                            id="new_password" required
                            placeholder="Nouveau mot de passe">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1"
                            class="form-label">Confirmez le mot de passe <span class="text-danger">*</span></label>
                        <input type="password" class="form-control"
                            id="confirm_password" required
                            placeholder="Confirmez le mot de passe">
                    </div>

                    <div class="mb-3 d-flex justify-content-center">
                        <button type="button" class="btn btn-success "
                            id="reset_password" data-id="<%=user_id%>">Modifier le mot de passe</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <%- include('../includes/footer_admin') %>