

   
     <div  class="d-flex justify-content-center align-items-between w-auto" >

      <div id="loading_page" class="modal fade show " data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="display: none;">
             <div class="modal-dialog">
               <div class="modal-content">
                 <div class="modal-header d-flex justify-content-center">
                   <img src="/logo/logo.png" width="60px"
                           height="120px" class="img-fluid" alt="">
                 </div>
                 <div class="modal-body d-flex justify-content-center">
                   <span class="text-center spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                   <span class="text-center">Chargement...</span>
                 </div>
               </div>
             </div>
           </div>

    </div>
    <footer class="navbar navbar-expand-lg bg-footer p-4 d-flex
      justify-content-center mt-3" style="background-color: white;"> copyright
      @2022</footer>


    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
   
   <script
      src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

 <!-- ==================== FONT =====================================-->
    <script src="fonts/js/all.js"></script>
    <script src="fonts/js/all.min.js"></script>
    <script src="fonts/js/brands.js"></script>
    <script src="fonts/js/brands.min.js"></script>
    <script src="fonts/js/fontawesome.js"></script>
    <script src="fonts/js/fontawesome.min.js"></script>
    <script src="fonts/js/solid.js"></script>
    <script src="fonts/js/solid.min.js"></script>
    <script src="fonts/js/regular.js"></script>
    <script src="fonts/js/regular.min.js"></script>

     <!--================================  IMPORTATION DATATABLE ======================================-->
    <script type="text/javascript"
      src="https://cdn.datatables.net/plug-ins/1.10.19/i18n/French.json"></script>
    <script type="text/javascript"
      src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
      src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <!--===================================================================-->
    
    <script src="/js/responsable/responsable.js"></script>
     <script src="/js/responsable/diagnostique.js"></script>

    <script>

  const optionDataTable = {
            "sProcessing": "Traitement en cours ...",
            "sLengthMenu": "Afficher _MENU_ lignes",
            "sZeroRecords": "Aucun résultat trouvé",
            "sEmptyTable": "Aucune donnée disponible",
            "sInfo": "Lignes _START_ à _END_ sur _TOTAL_",
            "sInfoEmpty": "Aucune ligne affichée",
            "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
            "sInfoPostFix": "",
            "sSearch": "Chercher:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Chargement...",
            "oPaginate": {
              "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
            },
            "oAria": {
              "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
            },
            url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/French.json",
           
            };
      
              $('#list_reparation').DataTable({
                language: optionDataTable
              });
               $('#list_reparation_receptionner').DataTable({
                language: optionDataTable
              });
              $('#list_reparation_enCour').DataTable({
                language: optionDataTable
              });

      function start(e){
        e.dataTransfer.effectAllowed="move";
        e.dataTransfer.setData("dns",e.target.getAttribute("id"));
      }

      function over(e,action){

        // e.preventDefault();
       
        //e.currentTarget.classList=" border border-primary";
        return false;
      }


      function drop(e,action){
        const objectId = e.dataTransfer.getData("dns");
        //console.log(objectId,action)
        e.currentTarget.appendChild(document.getElementById(objectId));

        const reponse_={diagnostique:objectId, progress: action};
        fetch('/progress-reparation-diagnostiques', {
        method: 'post',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(reponse_)
        })
        .then(res => {
          if (res.ok) return res.json()
        })
          .then(response => {
            alert(JSON.stringify(response));
          }).catch(err=>{
              alert(err.message);
             
          });
          

        //e.currentTarget.addClassName=" border border-none";
        e.stopPropagation();
        return false;
      }

      function leave(e){
       // e.currentTarget.addClassName=" border border-none";
      }
    </script>
  </body>
</html>