<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/logo/logo.png"/>


        <title><%= title%></title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
          <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

          <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
          <link rel="stylesheet" href="/css/header_atelier.css">
          <link rel="stylesheet" href="/css/admin.css">
    </head>
    <body>

            <nav class="navbar navbar-expand-lg px-4 py-0 mb-1">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><img
                            src="/logo/Ostie_Logo_Color1.png" width="60px"
                            height="60px" alt=""></a>
                    <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse"
                        id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex
                            justify-content-center">

                            <li class="nav-item ms-5">
                                <a class="nav-link  <%= title === 'Gestion Panel-réception-des-voitures' && 'active' %>" aria-current="page"
                                    href="/">Voiture déposer</a>
                            </li>
                            
                            <li class="nav-item mx-3">
                                <a class="nav-link <%= title === 'Gestion Panel- voitures-réceptionnners' && 'active' %>" aria-current="page"
                                    href="/voiture_receptionner">Voiture réceptionner</a>
                            </li>

                            <li class="nav-item  mx-3">
                                <a class="nav-link <%= title === 'Gestion Panel- réparation-terminer' && 'active' %>" href="/reparation-terminer" >
                                 Réparation en cours
                                </a>
                                
                              </li>
                        </ul>
                        <div class="d-flex btn-group ">
                            <div class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle" href="#"
                                    id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <span id="name-user-connected"></span>
                                </a>
                                <ul class="dropdown-menu"
                                    aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item"
                                            href="#">Profile</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/logout">Déconnexion</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </nav>