<%- include('../../includes/header_responsable_atelier') %>



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="mb-3">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Voiture déposer</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Liste</li>
                    </ol>
                </nav>

                <table class="table table-striped">
                    <thead class="bg-success text-white">
                        <tr>
                            <th scope="col">Déposition</th>
                            <th scope="col">Voiture</th>
                            <th scope="col">Matricule</th>
                            <th scope="cool">N°série</th>
                            <th scope="cool">Genre</th>
                            <th scope="col">Client</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12/11/2022</td>
                            <td>V-8</td>
                            <td>TBH-987645</td>
                            <td>8888-5577-8765-34566</td>
                            <td> <span class="text-primary">Personnel</span></td>
                            <td> <div>
                                    <p>M. Raphaël <br>
                                        rafael-atelier@responsable.com <br>
                                        034 55 222 33/ 032 11 222 11
                                    </p>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Accepter</button>
                            </td>
                        </tr>
                        <tr>
                            <td>12/11/2022</td>
                            <td>V-8</td>
                            <td>TBH-987645</td>
                            <td>8888-5577-8765-34566</td>
                            <td> <span class="text-warning">Particulier</span></td>
                            <td> <div>
                                    <p>M. Raphaël <br>
                                        rafael-atelier@responsable.com <br>
                                        034 55 222 33/ 032 11 222 11
                                    </p>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Accepter</button>
                            </td>
                        </tr>
                        <tr>
                            <td>12/11/2022</td>
                            <td>V-8</td>
                            <td>TBH-987645</td>
                            <td>8888-5577-8765-34566</td>
                            <td> <span class="text-success">Professionnel</span></td>
                            <td> <div>
                                    <p>M. Raphaël<br>
                                        rafael-atelier@responsable.com <br>
                                        034 55 222 33/ 032 11 222 11
                                    </p>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Accepter</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <%- include('../../includes/footer_responsable_atelier') %>