<%- include('../../includes/header_responsable_financier') %>



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="mb-3">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Reparation</a></li>
                        <li class="breadcrumb-item"><a href="/">teste</a></li>
                        <li class="breadcrumb-item active"
                            aria-current="page">Nouveau facture
                        </li>
                    </ol>
                </nav>
            </div>
        </div>


        <div class="row d-flex justify-content-between">
            <div class="col-md-4">
                <h2>Facture</h2>
               
                <div>
                    <h5>Nom e l'entreprise</h5>
                    <h5>Adresse</h5>
                    <h5>Contact:032 22 111 33</h5>
                    <h5>Email:email@gmail.com</h5>
                </div>
                <div class="mt-5">
                    <h6 for="exampleFormControlInput1" class="form-label">Client:
                        <span>Nom_client</span></h6>
                    <h6 for="exampleFormControlInput1" class="form-label">N°
                        Client: <span>cli0000</span></h6>
                        <h6 for="exampleFormControlInput1" class="form-label">
                            Contact: <span>032 22 222 22</span></h6>
                            <h6 for="exampleFormControlInput1" class="form-label">
                                Email: <span>contact@gmail.com</span></h6>
                </div>

            </div>

            <div class="col-md-4">
                <div class="d-flex justify-content-end">
                    <img src="/logo/logo.png" width="120px"
                    height="120px" class="img-fluidr" alt="">
                </div>
               
                <div class="mb-3 d-flex">
                    <label for="exampleFormControlInput1" class="form-label">N° facture:</label>
                    <input type="text" class="form-control"
                        id="exampleFormControlInput1" placeholder="n° facture">
                </div>
                <div class="mb-3 d-flex">
                    <label for="exampleFormControlInput1" class="form-label">Date
                        de création:</label>
                    <input type="date" class="form-control"
                        id="exampleFormControlInput1">
                </div>
                <div class="mb-3 d-flex">
                    <label for="exampleFormControlInput1" class="form-label">Date
                        d'éxpiration:</label>
                    <input type="date" class="form-control"
                        id="exampleFormControlInput1">
                </div>
                <div class="mb-3 d-flex">
                    <label for="exampleFormControlInput1" class="form-label">Véhicule:</label>
                    <label for="exampleFormControlInput1" class="form-label">Véhicule-0000</label>
                </div>
                <div class="mb-3 d-flex">
                    <label for="exampleFormControlInput1" class="form-label">Matricule:</label>
                    <label for="exampleFormControlInput1" class="form-label">Matricule-0000</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead class="bg-secondary text-white">
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Unité</th>
                            <th scope="col">PU HT</th>
                            <!--<th scope="col">Totale HT</th>-->
                            <th scope="col">TVA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>File à Air</td>
                            <td><input type="number"  value="30"/></td>
                            <td><input type="text"  value="pce."/></td>
                            <td><input type="number" value="2000" /> Ar</td>
                            <td><input type="number" value="20"/>%</td>
                        </tr>
                        <tr>
                            <td>File à Air</td>
                            <td><input type="number"  value="30"/></td>
                            <td><input type="text"  value="pce."/></td>
                            <td><input type="number" value="2000" /> Ar</td>
                            <td><input type="number" value="20"/>%</td>
                        </tr>
                        <tr>
                            <td>File à Air</td>
                            <td><input type="number"  value="30"/></td>
                            <td><input type="text"  value="pce."/></td>
                            <td><input type="number" value="2000" /> Ar</td>
                            <td><input type="number" value="20"/>%</td>
                        </tr>
                        <tr>
                            <td>File à Air</td>
                            <td><input type="number"  value="30"/></td>
                            <td><input type="text"  value="pce."/></td>
                            <td><input type="number" value="2000" /> Ar</td>
                            <td><input type="number" value="10"/>%</td>
                        </tr>
                    </tbody>
                </table>

                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary py-3">Validé la facture</button>
                </div>
            </div>
        </div>
        
     
         <%-
            include('../../includes/footer_responsable_financier')
            %>